* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100vw;
 overflow: hidden;
 background-color: #686de0;
}

.container {
 background-color: #fff;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
 border-radius: 10px;
 padding: 50px 20px;
 max-width: 100%;
 width: 800px;
 margin: 0 40px;
 text-align: center;
}

.container h3 {
 margin: 0;
 opacity: 0.8;
 letter-spacing: 2px;
}

.container .joke {
 font-size: 30px;
 letter-spacing: 1px;
 line-height: 40px;
 margin: 50px auto;
 max-width: 600px;
}

.container .btn {
 background-color: #9f68e0;
 border: 0;
 border-radius: 10px;
 padding: 14px 40px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
 font-size: 16px;
 cursor: pointer;
 color: #fff;
}

.container .btn:focus {
 outline: 0;
}

.container .btn:active {
 transform: scale(0.98);
}
